* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 90vw;
    align-items: center;
}

.app_header {
    color: #030e28;
    font-size: xxx-large;
    text-align: center
}

.drinks_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    margin-left: 16px;
    margin-right: 16px;
}
